/.vscode
/0.1bolierplate.html
/0.default.html
/1.parentcontainer.html
/10.menu.css
/11.facility.css
/12.popular.css
/13.gallery.css
/14.team.css
/15.contact.css
/16.contactIcon.css
/2.component.html
/3.componentContainer.html
/4.row.html
/5.column.html
/6.subColumn.html
/7.contentContainer.html
/8.navBar.css
/9.heroSection.css
/assets
/contactIcon.html
/jiametric.css
/menu.html
/navBar.html